@CHARSET "ISO-8859-1";

div#divDebug {
   position		: absolute;
   height		: 200px;
   /*background	: #ccc;*/
   /*color		: white;
   border		: solid 1px black;*/
}

html, body{
	padding				: 0px 0px 0px 0px !important;
	margin				: 0px 0px 0px 0px !important;
	height				: 100% !important;
	width				: 100% !important; 
	background-color	: white;  
}